@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* :root,
  html[data-theme="light"] {
    --color-primary: 216, 17, 89;
    --color-secondary: 143, 45, 86;
    --color-accent: 254, 153, 32;
    --color-fill: 251, 255, 254;
    --color-current: 22, 12, 40;
  }
  html[data-theme="dark"] {
    --color-primary: 216, 17, 89;
    --color-secondary:  143, 45, 86;
    --color-accent: 254, 153, 32;
    --color-fill: 22, 12, 40;
    --color-current: 251, 255, 254;
  } */

  html {
    scroll-behavior: smooth;
  }
  body {
    @apply flex min-h-[100svh] flex-col bg-neutral text-base text-base-100
    selection:bg-secondary selection:bg-opacity-70;
  }

   /* ===== scrollbar ===== */
   html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-secondary bg-opacity-70;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary bg-opacity-70;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
}